/* Enhance the shading on striped tables */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #e0e0e0;
}

/* horizontal padding on table cells to separate them */
th, td {
	padding: 0px 5px 0px 5px;
}

/* classes for the budget tables */
.subtotal {
	background-color: #DDDDDD !important;
	font-weight: bold;
	text-align: right;
}

.totaltitle {
	background-color: #BBBBBB !important;
	font-weight: bold;
	text-align: center;
}

.total {
	background-color: #BBBBBB !important;
	font-weight: bold;
	text-align: right;
}

.number {
	text-align: right;
}

/* Return to top */
.return-to-top-icon {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 0px;
	z-index: +1000;
	border: 1px solid #337AB7;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	border-width: medium;
}

