<h1><%= @title %></h1>

<ul>
<% @tables.each do |name, table| %>
	<li><b><%= name %></b></li>
	<ul>
		<% table.each do |column| %>
			<li><b><%= column.name %></b>: <%= column.type %></li>
		<% end %>
	</ul>
<% end %>
</ul>
