<nav class='navbar rnvbar-default' role='navigation'>
	<div class='container'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='/'>HOME</a>
		</div>

		<% if signed_in? %>

			<ul class='nav navbar-nav navbar-right'>

				<%= render 'layouts/menu_jira' %>

				<%= render 'layouts/menu_user' %>

			</ul>

		<% end %>

	</div>
</nav>
