<li class='dropdown'>
	<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Geneaologies<b class='caret'></b></a>
	<ul class='dropdown-menu' role='menu'>
		<li>XX<%#= link_to 'Year Expenses', items_path %></li>
		<li class='divider'></li>
		<li><%= link_to 'Bulk Input From File', geneaologies_bulkinput_path(id: 0) %></li>
	</ul>
</li>
