<li class='dropdown'>
	<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Expenses <b class='caret'></b></a>
	<ul class='Xdropdown-menu' role='menu'>
		<li>Year Details</li>
		<li class='divider'></li>
		<li>Year Budget</li>
		<li>Running Budget</li>
		<li class='divider'></li>
		<li>Transfers</li>
		<li class='divider'></li>
		<li><%= link_to 'Manage Categories', categories_path %></li>
		<li><%= link_to 'Manage What Map', whats_path %></li>
		<li class='divider'></li>
		<li>Input From Tracking File</li>
		<li>Input From USAA File</li>
		<li class='divider'></li>
		<li>Clean Up</li>
	</ul>
</li>
