<nav class='navbar rnvbar-default' role='navigation'>
	<div class='container'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='/'>HOME</a>
		</div>

		<% if signed_in? %>

			<ul class='nav navbar-nav navbar-right'>

				<% if has_role(current_user.id, 'admin') %>
					<%= render 'layouts/menu_admin' %>
				<% end %>

				<% if has_role(current_user.id, 'jira') %>
					<%= render 'layouts/menu_jira' %>
				<% end %>

				<% if has_role(current_user.id, 'expenses') %>
					<%= render 'layouts/menu_expenses' %>
				<% end %>

				<%= render 'layouts/menu_user' %>

			</ul>

		<% end %>

	</div>
</nav>
