<li class='dropdown'>
	<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Investments <b class='caret'></b></a>
	<ul class='dropdown-menu' role='menu'>
		<li><%= link_to 'Accounts', investments_path %></li>
		<li class='divider'></li>
		<li>Yearly<%#= link_to 'Year Budget', yearbudget_index_path %></li>
		<li class='divider'></li>
		<li><%= link_to 'Manage Summary Types', summary_types_path %></li>
		<li><%= link_to 'Manage Investment Maps', investment_maps_path %></li>
		<li class='divider'></li>
		<li><%= link_to 'Bulk Input From File', new_investmentbulkinput_path(id: 0) %></li>
	</ul>
</li>
